version: "3"

services:
    influxdb:
        container_name: influxdb
        image: influxdb:1.8.5-alpine
        volumes:
            - influxdb-lib:/var/lib/influxdb
        ports:
            - 8083:8083
            - 8086:8086
        privileged: true

    grafana:
        container_name: grafana
        image: grafana/grafana:7.5.5
        volumes:
            - grafana-lib:/var/lib/grafana
            - grafana-log:/var/log/grafana
        links:
            - influxdb:influxdb
        ports:
            - 3000:3000
        depends_on:
            - influxdb
        privileged: true

volumes:
  influxdb-lib:
    external: false

  grafana-lib:
    external: false

  grafana-log:
    external: false
